#list-card {
  background-color: lightgray;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

#guest-details-card {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}
